<%- include("./partials/head") %>
<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  <%- include("./partials/sidebar") %>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%- include("./partials/navbar") %>
    <!-- partial -->
<script>
    function filter_hardwares(element){
    let todos = document.querySelectorAll("table tr.todos");
    todos.forEach(t => {
        if(element.checked){
            t.classList.add("d-none");
        }
        else{
            t.classList.remove("d-none");
        }
    });
}
</script>
<div class="main-panel">
    <!-- CONTENIDO -->
    <div class="content-wrapper">
        <div class="row ">
            <a  class="link-whatsapp"  href="whatsapp://send?text=Necesito ayuda tecnica para conectar mi dispositivo!&phone=+5493413730891"> <i class="fa-brands fa-whatsapp"></i> Send Message</a>
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">Lista de mis Dispositivos</h4>
                    <div class="table-responsive">
                        <table class="table">
                        <thead>
                            <tr>
                                <th> #ID </th>
                                <th> Dispositivo </th>
                                <th> Prioridad </th>
                                <th> Tecnico </th>
                                <th> Creado por </th>
                                <th> Categoria/Tipo </th>
                                <th> Estado</th>
                                <th class="text-center"> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if (list_hardwares && list_hardwares.length > 0) { %>
                             <% list_hardwares.forEach(hard => { %> 

                                <%if (hard.userId == session.idUser) { %>
                                    <tr class="mio">
                                <% }else{ %>
                                    <tr class="todos">
                                <% } %>
                                
                                    <td> <%= hard.id %>  </td>
                                    <td> <h4><%= hard.hardwares_av.hardware_name %></h4></td>
                                    <td><%= hard.priority %> </td>
                                    <td class="fs-6 fw-bold" style="text-transform: capitalize;"><%= hard.technician.dataValues.fullName %></td>
                                    <td class="fs-6 fw-bold" style="text-transform: capitalize;"><%= hard.user.dataValues.fullName %></td>
                                    <td class="fs-6"><%= hard.type.category.dataValues.category %> / <%= hard.type.dataValues.type ?? "" %></td>
                                    <td class="fs-6">
                                        <% if(hard.status == "tutorial_sent"){ %> 
                                            <span class="text-warning">Tutorial enviado</span> 
                                        <% } %>
                                        <% if(hard.status == "resolved"){%>
                                            <span class="text-orange">Resuelto</span> 
                                        <% } %>
                                        <% if(hard.status == "pending"){%>
                                            <span class="text-orange">En espera</span> 
                                        <% } %>
                                    </td>
                                    <td class="text-center">
                                        <% if(hard.technicianId == sess.idUser){ %> 
                                            <a href="/hardwares/resolve/<%= hard.id %>" class="btn btn-success">Resolver</a>
                                        <% } %>
                                        <a href="/hardwares/edit/<%= hard.id %>" class="btn btn-primary">Editar</a>
                                        <a href="/hardwares/delete/<%= hard.id %>" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            <% }) %>
                            <% }else{ %> 
                                <tr>
                                    <td colspan="6" class="text-center"> 
                                        Ningun dispositivo encontrado.  
                                        <a href="/hardwares/create" class="btn btn-sm btn-success px-3 ms-3">Crear dispositivo</a>
                                    </td>
                                </tr>
                            <% } %> 
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- FIN contenido -->
<%- include("partials/footer") %>